.App {
  text-align: center;
  min-height: 100%;

  background: var(--theme-page-background);
  color: var(--theme-page-text);
}
.Light {
  --theme-color: #a80000;
  --theme-page-background: #fff;
  --theme-page-text: #111;
}

.Dark {
  --theme-color: #0000a8;
  --theme-page-background: #18191a;
  --theme-page-text: #fff;
}
